html{
    font-family: 'Roboto', sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: "txt empty img";
    grid-gap: 5px;
    padding: 5px;
    border-bottom:1px solid #444444   
}

h1{
    grid-area: txt;  
    font-size: 25px;  
    align-self: center;
    justify-content: start;
}

.profileImage{
    grid-area: img;  
    border-radius: 50%;  
    align-self: center;
    justify-self: end;
    
}